.counter {
  display: flex;
}

.numbers {
  margin: 0;
  background: linear-gradient(var(--primary-purple), var(--secondary-purple));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message {
  color: var(--off-black);
}
