.AgeCounter {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white);
  overflow: hidden;
  position: relative;
}

.AgeCounter main {
  position: absolute;
  z-index: 20;
  padding: 40px;
  width: 450px;
  height: 320px;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 5% 5% 33% 5%;
  box-shadow: 4px 6px 20px 0px var(--light-grey);
}

.buttonSection {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 30px 0;
  border-bottom: 1px solid var(--light-grey);
}

.buttonSection button {
  border: none;
  font: inherit;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  min-width: 55px;
  min-height: 55px;
  padding: 5px;
  background: linear-gradient(var(--primary-purple), #5b21b6);
  border-radius: 50%;
  transition: background 100ms ease;
}

.buttonSection button:hover {
  background: linear-gradient(var(--off-black), #484848);
  cursor: pointer;
}

.buttonSection button img {
  max-width: 30px;
}

.InputsArea {
  display: flex;
  margin-bottom: 20px;
}

.block {
  background: linear-gradient(
    45deg,
    grey,
    rgb(255, 255, 255),
    #cbd5e1,
    #475569
  );
  width: 100%;
  height: 100%;
  -webkit-mask: linear-gradient(90deg, #000 2px, transparent 0),
    linear-gradient(0deg, #000 1px, transparent 0);
  -webkit-mask-size: 60px 60px;
  background-size: 400%;
  animation: growing 20s linear infinite;
  opacity: 0.7;
}

@keyframes growing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.effect {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent, #eaeaea 90%);
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}
