.AgeCounter {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--Off-white);
}

.AgeCounter main {
  padding: 40px;
  width: 38%;
  background-color: var(--White);
  border-radius: 10% 10% 33% 10%;
}
.button {
  display: flex;
  justify-content: flex-end;
  border-top: 10px;
  border-bottom: 1px solid var(--Light-grey);
}

.button div {
  position: absolute;
  transform: translateY(-50%);
  padding: 5px;
  background-color: var(--primary-purple);
  border-radius: 50%;
}

.button div:hover {
  background-color: var(--Off-black);
  cursor: pointer;
}
