.inputCombo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 110px;
}

.inputCombo label {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 5px;
  color: var(--Smokey-grey);
}

.inputCombo input {
  appearance: textfield;
  font-size: 32px;
  border-width: 1px;
  border-color: var(--off-grey);
  border-radius: 5px;
  padding: 0 10px;
}

::placeholder {
  font-size: 23px;
  font-weight: bold;
}
