.inputCombo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 110px;
}

.inputCombo label {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 5px;
  color: var(--smokey-grey);
}

.inputCombo input {
  appearance: textfield;
  font-size: 32px;
  border-width: 1px;
  border-color: var(--off-grey);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}

::placeholder {
  font-size: 21px;
  font-weight: 600;
}

.inputCombo input:focus-visible {
  outline: 1px solid var(--primary-purple);
}

.inputCombo input:hover {
  border: 1px solid var(--smokey-grey);
}
