.InputsArea {
  display: flex;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: flex-end;
  border-top: 10px;
  border-bottom: 1px solid var(--Light-grey);
}

.button button {
  border: none;
  font: inherit;
  position: absolute;
  transform: translateY(-50%);
  padding: 5px;
  background-color: var(--primary-purple);
  border-radius: 50%;
}

.button button:hover {
  background-color: var(--Off-black);
  cursor: pointer;
}
